body {
    font-weight: 300;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

body,
html,
.homepage-hero-area-4,
.single-slide-item {
    height: 100%;
}

.main_menu ul li:hover>a {
    color: #06d6a0;
}
.main_menu li:hover li:hover > a {
   color: #06d6a0;
}


.single-slide-item {
    display: table;
    width: 100%;
    height: 100%;
}

.slide-item-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    color: #fff;
    font-weight: 300;
}

.slide-item-wrapper h2 {
    font-size: 48px;
    color: #fff;
    line-height: 55px;
}

.website-check-form {
    margin-top: 40px;
}

.website-check-form input {
    background-color: #073b4c;
    border-color: #073b4c;
}

.boxed-btn,
input[type="submit"],
button[type="submit"] {
    background: #06d6a0;
}

.pdt-50 h3,
.padding-top-100 h3 {
    font-size: 22px;
}

.inline-btn {
    display: inline-block;
    color: #06d6a0;
    padding-top: 30px;
}

.pricing-amount {
    color: #06d6a0;
}

.single-service-box:hover {
    border-color: #06d6a0;
}

.single-service-box:hover a.service-read-more-btn,
.single-service-box:hover h3,
.single-service-box:hover .service-icon {
    color: #06d6a0;
}

.single_pricing_box:hover,
.single_pricing_box:hover .pricing-heading {
    border-color: #06d6a0;
}

.single_blog_box {
    margin: 20px 0;
}

