body {
    line-height: 1.7;
}
html,
body {
    height: 100%;
}

.main_menu ul li:hover>a {
    color: #06d6a0;
}
.main_menu li:hover li:hover > a {
   color: #06d6a0;
}
.slide-bg-1 {
    background-image: url(../img/slide-bg-1.jpg)
}
.slide-bg-2 {
    background-image: url(../img/slide-bg-2.jpg)
}
.single-slide-item:after {
    background: #1d62f0;
    background: -moz-linear-gradient(45deg, #1d62f0 1%, #1ad7fd 100%);
    background: -webkit-linear-gradient(45deg, #1d62f0 1%, #1ad7fd 100%);
    background: linear-gradient(45deg, #1d62f0 1%, #1ad7fd 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1d62f0', endColorstr='#1ad7fd', GradientType=1);}

.video-play-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #06d6a0;
    border-radius: 50%;
    line-height: 63px;
    padding-left: 5px;
    margin-top: 15px;
}


.boxed-btn,
input[type="submit"],
button[type="submit"] {
    background: #06d6a0;
}

.service-number {
    font-size: 70px;
    font-weight: 400;
    color: #dcdcdc;
    line-height: 70px;
    display: inline-block;
    padding-top: 16px;
}
.single-service-box:hover {
    border-color: #06d6a0;
}
.single-service-box:hover a.service-read-more-btn,
.single-service-box:hover h3,
.single-service-box:hover .service-icon {
    color: #06d6a0;
}
.single-service-box {
    margin-bottom: 0;
}



