h3 {
    font-size: 22px;
}

.hero_area {
    background-image: url(../img/hero-bg-2.jpg);
    background-color: #3196F6;
    background-size: cover;
    background-position: center;
    color: #fff;
    line-height: 1.8;
    padding: 80px 0;
}
.boxed-btn {
    background-color: #06D6A0;
}
.hero_area h1 {
    color: #fff;
    font-size: 45px;
    margin-top: 105px;
}

.service-icon {
    color: #60B3F8;
    margin-bottom: 15px;
}




